.login-container {
    display: flex;
}

.left {
    position: relative;
    width: 45%;
    height: 100vh;
}

.login-background {
    max-width: 100%;
    height: inherit;
    object-fit:cover;
}
.left-tw-icon{
    position: absolute !important;
    top: 25% !important;
    left: 25% !important;
    color: white !important;
    width: auto !important;
    height: auto !important;
    right: 25% !important;
}

.right {
    width: 55%;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
}