.tweet-container{

  display: flex;
  align-items: flex-start;
}

.feed-right-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed-right-top-left{
  display: flex;
  align-items: center;
}

.tweet-profile-pic{
  height: 50px;
  width:50px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 50%;
}

.tweet-profile-pic:hover{
  filter: brightness(90%);
}

.feed-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed-top-left{
  display: flex;
  align-items: center;
  margin-left:10px;
}

.usernickname{
  font-size: 13px;
  font-weight: 600;
  margin-right:2px;
  cursor: pointer;
}

.username{
  font-size: 13px;
  color:#536471;
  margin-left:5px;
  margin-right:2px;
  cursor: pointer;
}

.when{
  font-size: 13px;
  color:#536471;
  cursor: pointer;
}
.feed-tweet{
  font-size: 13px;
  font-weight: 300;
}
.tweet-img {
  margin-top: 5px;
  height:auto;
  width:100%;
  border-radius: 15px;
  object-fit: contain;
}

.more-icon:hover{
  background-color:#51aeeb34 !important ;
  color:#1D9BF0 !important;
  border-radius: 50%;
}

.feed-right-bottom{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.feed-bottom-icon{
  font-size:13px;
  margin-left:5px;
}