.leftbar-container {
  height: 100%;
  display: flex;
  flex:3;
  align-items: center;
  float: right;
  flex-direction: column;
  position: fixed;
  left: 100px;
}
.icons {
  display: flex;
  align-items: center;
  float: right;
  flex-direction: column;
  padding: 4px 18px 0px 0px;
}
.twitter-color {
  color: #1d9bf0 !important;
}

.left-profile-pic {
  margin-top: 60%;
}

.left-profile-pic img {
  height: 45px;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
}

.left-profile-pic img:hover {
  filter: brightness(75%);
}
