.search-container{
  background-color: #F4F6F6;
  border-radius: 30px;
  width: 300px;
  padding-top:2%;
  padding-bottom:2%;
  display: flex;
  align-items: center;
  margin-bottom:20px;
}

.search-icon, .search-input{
  margin-left:10px;
}
.search-container input{

  border: none;
  background-color: #F4F6F6;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}

.search-container:focus-within {
  border: 1px solid #1d9bf0;
  background-color: white;

}


.search-container:focus-within  input{
  background-color: white;
}