.whotofollow-container {
  background-color: #f4f6f6;
  border-radius: 30px;
  width: 26%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.whotofollow-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whotofollow-top-title {
  font-size: 1.4vw !important;
  font-weight: 600 !important;
  margin-left: 1.3vw !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.whotofollow-users-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.whotofollow-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.whotofollow-user-img {
  height: auto;
  width: 15%;
  object-fit: contain;
  border-radius: 50% !important;
  cursor: pointer;
}

.whotofollow-user-img:hover {
  filter: brightness(75%);
}

.whotofollow-user-left {
  display: flex;
  align-items: center;
}

.whotofollow-user-info-container {
  margin-left: 10px;
  margin-top: 3px;
}
.whotofollow-user-info-container:hover .whotofollow-user-usernickname {
  text-decoration: underline !important;
}

.whotofollow-user-usernickname {
  font-size: 1vw !important;
  font-weight: 600 !important;
  margin-right: 2px !important;
  cursor: pointer !important;
}

.whotofollow-user-username {
  font-size: 0.7vw !important;
  color: #948f8f !important;
  font-weight: 300 !important;
  margin-right: 2px !important;
  cursor: pointer !important;
}

.whotofollow-user-follow-button {
  margin-right: 25px;
}

.whotofollow-user-follow-button Button {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  width: 50% !important;
  height: auto !important;
  font-size: 0.6vw;
  white-space: nowrap; /*  prevent text to be multiline  */

}
