.leftbar-container{
  height: 100%;
  border-right:1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  float:right;
  flex-direction: column;
  overflow-y: hidden;
}
.icons{
  display:flex;
  align-items: center;
  float:right;
  flex-direction: column;
  padding:4px 18px 0px 0px;

}
.twitter-color{
  color:#1D9BF0 !important;
}

.left-profile-pic {
 margin-top:60%; 

}

.left-profile-pic img{
  height: 45px;
  width:100%;
  object-fit: contain;
}